<div>	
	<div id="main-content">
		<h2>Configured Modules</h2>
		<div id="list2">
			<div *ngIf="configuredModules">				
				<ol>
					<li *ngFor="#module of configuredModules">
						<p><em>{{module.type}}</em> {{module.description}}</p>
					</li>
				</ol>
			</div>
			<div *ngIf="errorMessage">
				<!-- This doesn't work yet -->
				Oops! Something went wrong with the call to the server...
			</div>
		</div>
		<div *ngIf="!configuredModules && configuredModulesLoaded">
			Looks like you have no modules configured..
		</div>
		<br />
		<div id="link">
			<a [routerLink]="['AvailableModules']">Click here to add a new module</a>
		</div>
	</div>
</div>
