body {
	background-color: #222;
}

div#banner {        
    background-color: #222;
	border-bottom: solid;
	border-color: #e15036;
	border-width: 2px;
}

img#bannerlogo{
	margin: 20px 20px 20px 20px;
}

div#main-content { 
    color: white;
	clear: clear;
	position: relative;
	height: 100%;
}

h2{
	margin-left: 50px;
}

#list2 { width:320px; }
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:24px; color:#e15036;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:16px; color:#eee; border-left: 1px solid #e15036; }
#list2 ol li p em { display:block; color: #e15036; font-style:bold; }

a {color: white}
a:visited {color: white}

button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #030003;
  font-size: 20px;
  background: #e15036;
  padding: 10px 20px 10px 20px;
  border: solid #00060a 2px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}